.loginTittle{
    text-align: center;
    position: relative;
    top: 35px;
    z-index: 100;
}

.cardBody{
   width: 36rem;
   height: 36rem;
   position: absolute;
   top: 60px;
   left: 460px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

img{

    position: relative;
    top: -30px;
    left: 170px;
}

.subtitle{
    text-align: center;
    position: relative;
    top: -40px;
}

.submit{
    position: relative;
    top: 25px;
    left: 170px;
    margin-right: 20px;
    width: 90px;
    height: 40px;
}
